* {
    outline: 1px red dotted;
}


/* == HEADER == */
header {
    padding: 16px 0;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon {
    width:30px;
    height:auto;
}

.logo {
    font-size: 24px;
    font-family: arial, 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #8eac3b;
}


header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

header a {
    font-size: 18px;
    font-family: arial, 'Courier New', Courier, monospace;
    color: #325d53;
    text-decoration: none;
}


/* == Footer == */
.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
    padding: 16px 0;
}