* {
    /* outline: 1px red dotted; */
}

body {
    font-family: arial, 'Courier New', Courier, monospace;
    padding: 0 10%;
}

/* == HEADER == */
header {
    padding: 16px 0;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width:30px;
    height:auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #8eac3b;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

header a {
    font-size: 18px;
    color: #325d53;
    text-decoration: none;
}

/* == Cont 1 == */
.cont-1 {
    display:flex;
    height: 90vh;
}

.hero-section{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: bold;
    color: #8eac3b;
    margin: 0;
    padding: 0;
}

.hero-section p {
    font-size: 18px;
    color: #325d53;
    margin: 0;
    padding: 0;
}

.button-cont-1{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.button-cont-1 button{
    color: #325d53;
    padding: 7px 20px;
    font-size: 18px;
    background-color: transparent;
    border: 1px #325d53 solid;
    border-radius: 10px;
    width: 200px;
    flex-shrink: 1;
}

.button-cont-1 .adopt-button {
    color: white;
    background-color: #486a31;
    border: transparent;
}

.img-pholder {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img-pholder img{
    height:auto;
    width: 700px;
    border-radius: 20px;
}

/* == Cont 2 == */
.cont-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 68vh;
}

.cont-2 h2 {
    margin: 5vh 0;
    padding: 0;
    font-size: 36px;
    color: #486a31;
}

.cards-parent-cont {
    align-self: stretch;
    display: flex;
    justify-content: space-around;
}

.cards-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border-radius: 10px;
    width: 300px;
    height: 380px;
}

.cards-cont p {
    font-size: 18px;
    color: #486a31;
}

/* == cont-3 == */
.cont-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  1% 0;
}

.cont-3 p {
    max-width: 70%;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
}

.cont-3 span{
    margin-left: 53%; 
    font-weight: bold;
    font-size: 23px;
}

/* == Footer == */
.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
    padding: 16px 0;
}